html {
  box-sizing: border-box;
  background-image: url("https://wallpapertag.com/wallpaper/full/4/b/1/113963-amazing-video-games-wallpaper-1920x1200-hd-for-mobile.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* ---------- Start: All pages ---------- */
h1 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1100px;
  height: 70px;
  margin: 0px auto;
  margin-top: 10px;
  padding: 5px;
  font-family: 'Archivo Black', sans-serif;
  font-family: 'Istok Web', sans-serif;
  font-size: 40px;
  background-image: url("http://images6.fanpop.com/image/photos/38600000/Work-Hard-Play-Harder-advice-38676782-1600-900.jpg")
}

#wide {
  font-family: 'Archivo Black', sans-serif;
}

/* ---------- End: All pages ---------- */

/* ---------- Start: MyAlbum.js ---------- */

.myAlbumsContainer {
  width: 1200px;
  margin: 0 auto;
}

.albumNameContainer {
  display: flex;
  flex-wrap: wrap; 
  text-align: center;
}

.album {
  width: 400px;
}

p#MyAlbumTitle {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px auto;
  font-size: 20px;
  width: 240px;
  height: 30px;
  background-image: linear-gradient(yellow, red);
  border-radius: 30px;
  font-weight: bold;
}

#albumCover {
  width: 300px;
  border: 7px solid darkblue;
}

/* ---------- End: MyAlbum.js ---------- */

/* ---------- Start: AlbumName.js ---------- */

.albumNameWrapper {
  width: 1200px;
  margin: 0 auto;
}

.picNameWrapper{
  display: flex;
  flex-wrap: wrap; 
  text-align: center;
}

.picName{
  width: 400px;
}

#AlbumNameTitle {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px auto;
  font-size: 20px;
  width: 240px;
  height: 30px;
  background-image: linear-gradient(yellow, red);
  border-radius: 30px;
  font-weight: bold;
}



#picCover {
  width: 300px;
  border: 7px solid darkblue;
}

/* ---------- End: AlbumName.js ---------- */

/* ---------- Start: PicName.js ---------- */

.pic3 {
  width: 300px;
  height: 300px;
  background-color: red;
}

.pic4 {
  width: 300px;
  height: 300px;
  background-color: yellow;
}

.photo {
  background-color: white;
}

/* ---------- End: PicName.js ---------- */